a:link {color: red; background-color: blue;}
a:visited {color: green; background-color: red;}
a:hover {background-color: yellow;}
a:active {color:black; background-color: black;}
li {list-style-type: square;
list-style-position: inside;
list-style-image: url(catsite.jpg);
}
table {border: 3px solid red;
     border-collapse: collapse;
width: 50%;
margin: 0 auto;
}
td {border: 3px solid red;}
td:first-child {background-color: blue;}
p {word-spacing: 30px;
letter-spacing: 10px;
text-transform: capitalize;
background-image: url(catsite.jpg);
}